<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @gift.name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @gift.description %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= image_tag(@gift.picture_url, :width => 400) if @gift.picture.present? %>
</p>

<%= link_to 'Editar', edit_gift_path(@gift) %> |
<%= link_to 'Regresar', gifts_path %>
